requests
pyttsx3
winotify
pyautogui
pywhatkit
pygame
psutil
selenium
webdriver_manager
playwright==1.58.0
webscout==2026.2.11
lxml_html_clean
gradio_client
colorlog
yaspin
opencv-python
pyaudio
scipy
wmi
comtypes
pycaw
beautifulsoup4
vosk
sounddevice
pywinauto
numpy
SpeechRecognition
mss
pytesseract
Pillow==12.1.1
pyyaml
sumy
libcst
